<html>
<h1>Create a Team and Heros</h1>
  <form action='/super_hero' method='POST'>
    <label for="team_name">Team Name:</label>
    <input type="text" id="team_name" name="team_name"></input>

    <label for="team_motto">Team Motto:</label>
    <input type="text" id="team_motto" name="team_motto"></input>

<h2>Hero 1</h2>
    <label for="hero_name">Hero's Name:</label>
    <input type=text id="hero_name" name="superhero[team][members][][name]"></input>

    <label for="hero_power">Hero's Power:</label>
    <input type="text" id="hero_power" name="superhero[team][members][][power]"></input>

    <label for="hero_bio">Hero's Biography:</label>
    <input type="text" id="hero_bio" name="superhero[team][members][][bio]"></input>





  </form>

</html>
